@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
*{padding: 0; margin: 0; box-sizing: border-box; font-family: 'Noto Sans KR', sans-serif;}
html, body {height: 100%; font-size: 16px;}
a{text-decoration: none; color : #000; }


.container > header { align-items: center; padding:10px; font-size: 1.5rem; }
.container >h1 {margin-left: 15px; margin-bottom: 25px;}

.header_title {
  background-image: url('img/header_bg.jpg');
  background-repeat: no-repeat;
  object-fit: contain;
  height: 160px;
  margin-bottom: 22px;
}
.header_title h1 { line-height:160px; color : #fff; margin-left:30px;}

/* 메뉴 */
#link a {font-size: 1rem; cursor: pointer; padding: 5px; margin:0 10px;}

/* ------------ 회원가입 페이지 ------------*/
#joinPage {
  background-image: url(img/join_background.jpg);
  background-repeat: no-repeat;
  overflow:hidden;
}


#joinForm {
  width: 400px;
  margin: 0 auto; padding: 15px 25px;
  text-align: center;
  border: 1.5px solid #dddddd; border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.2);
}

#joinForm  .form-control { background-color: rgba(220, 220, 220, 0.684); color:#fff;}


.pwcheck {
  display: block;
    width: 100%;
    font-size: 1rem;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btnStyle .btn:hover {
  transition: 1s;
  font-weight: 900;
  color:#fff;
}

/* ------------ 리스트 페이지 ------------*/
.table {
  margin: 50px 0;
  --bs-table-hover-bg: rgb(213, 227, 223);
}

.table>:not(:first-child) { border-top: 1.8px solid #818181; }

/* 환영문구 애니메이션 */
#refreshing { animation: refreshing 3s;}
@keyframes refreshing  {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
    
	}
}

/* ------------ 유저 프로필 이미지 ------------ */
.circular_img{display:inline-block; overflow: hidden; border-radius: 50%;}
.circular_img img{width:100%; height:100%; object-fit: cover;}

/* ------------ 글쓰기, 수정하기 ------------*/
#tt, #ct{margin-bottom : 20px;} 
#tt input {width:150px; padding:5px 10px;}
#ct textarea{width:300px; height:450px;}
.form {
  border: 1.5px solid #dddddd;
  border-radius: 15px;
  padding: 30px 100px;
  background-image: url(img/write_background.jpg);
  background-repeat: no-repeat;
  overflow:hidden;
}



/* ------------ 게시글 디테일 페이지 ------------*/
.prev_next { width:145px;}
.main_ctnt { border-top: 1px solid #4b4b4b; min-height: 400px;}


/* ------------ pagination ------------ */
.pagination-sm .page-item:first-child .page-link { border-top-left-radius: 0.5rem; border-bottom-left-radius: 0.5rem;}
.pagination-sm .page-item:last-child .page-link {border-top-right-radius: 0.5rem; border-bottom-right-radius: 0.5rem;}

.page-link {
  position: relative;
  display: block;
  color: rgb(22, 22, 22);
  text-decoration: none;
  background-color: #fff;
  border: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.page-item.active .page-link {
   z-index: 3;
    color: #fff;
    background-color: rgb(213, 227, 223);
    border-color:  rgb(213, 227, 223);
    border-radius: 0.5rem;
}

/* 기타 */
.w100 {width:100px;}
.w200 {width:200px;}
.w300 {width:300px;}
.w400 {width:400px;}

.h100 {height:100px;}
.h200 {height:200px;}
.h300 {height:300px;}
.h400 {height:400px;}

.wh45{width:45px; height:45px;}
.wh20{width:20px; height:20px;}

.text-left {text-align: left;}
.t-gray {color:#969696; font-size:0.8rem;}